* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    outline: 0;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    /* scrollbar-color: #ff7d12 #222222; */
    scrollbar-color: #edeeef #222222;
    scrollbar-color: #edeeef #222222;
    --swiper-theme-color: #edeeef;
    --swiper-pagination-bullet-inactive-color: #26628a;
    --swiper-pagination-bullet-inactive-opacity: 0.9;
    --swiper-pagination-bullet-size: 12px;
    /* --swiper-navigation-size: 44px; */
}

.btn-primary {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
    color: #ffffff;
    background-color: #26628a;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;
    border-radius: 5mm;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #3b6988;
}

.btn-secondary {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: 1px solid #26628a;
    border-radius: 2px;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
    color: #3b6988;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    padding: 0 18px;
    border-radius: 5mm;
}

.btn-secondary:hover {
    color: #ffffff;
    background-color: #3b6988;
}